@page "/"

<PageTitle>DNPAssignment</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello!</h1>
    </NotAuthorized>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name</h1>
    </Authorized>
</AuthorizeView>

This is the DNP Assignment (1,2 & 3) by Franciszek Nurkiewicz (318212@via.dk).<br/>
The source code can be found here: https://github.com/318212/Assignment1-2.git.<br/>
The working solution is located in Efc_Assignment_3 which is also a default branch<br/>
There is on missmatch (2 WebApi's) - the one that should be used is WebApplication1<br/>

<SurveyPrompt Title="Here you can go directly to the github repository."/>